# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

# can ID 需要自己在上位机获取，使用命令 ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0 
[mcu EBBCan]
# serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: ecff3720bf2d

# 震动补偿
[adxl345]
cs_pin: EBBCan: PB12
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
axes_map: x,y,z

# 挤出机配置
[extruder]
step_pin: EBBCan: PD0
dir_pin: !EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 16
rotation_distance: 22.90120482078
#减速比（CW2/Sherpamini齿轮比为50:10，输出轴在前，输入轴在后）
gear_ratio: 50:10

nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13
sensor_type: EPCOS 100K B57560G104F
sensor_pin: EBBCan: PA3
min_temp: -200
max_temp: 300

# PWM最大输出功率
max_power: 0.8
# 最小挤出温度
min_extrude_temp: 150

max_extrude_only_distance: 300

# sensor_type:MAX31865
# sensor_pin: EBBCan: PA4
# spi_bus: spi1
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2

[tmc2209 extruder]
uart_pin: EBBCan: PA15
interpolate: False
run_current: 0.5
stealthchop_threshold: 0

# 模型散热
[fan]
pin: EBBCan: PA1
kick_start_time: 0.1 #  风扇全速运行的时间（以秒为单位），当首次启用或增加超过50%时(有助于使风扇开始旋转）。
max_power: 1
off_below: 0.1
shutdown_speed: 0
cycle_time: 0.005

# 热端风扇
[heater_fan hotend_fan]
pin: EBBCan: PA0
heater: extruder
heater_temp: 50.0

# RGB灯
# [neopixel hotend_rgb]
# pin: EBBCan:PD3
# chain_count: 3 #20
# #   要控制的灯带的灯珠数量，应小于等于你灯带上串联的灯珠数
# color_order: GRB
# #   设置灯带RGB顺序，可用选项有GRB RGB, GRBW RGBW，默认是 GRB
# initial_RED: 0.5
# initial_GREEN: 0.5
# initial_BLUE: 0.5
# initial_WHITE: 0.0

[include ebb36_led.cfg]

#[bltouch]
#sensor_pin: ^EBBCan:PB8
#control_pin: EBBCan:PB9

#[filament_switch_sensor switch_sensor]
#switch_pin: EBBCan:PB4

#[filament_motion_sensor motion_sensor]
#switch_pin: ^EBBCan:PB3


[adxl345]
cs_pin: EBBCan: PB12
spi_software_sclk_pin: EBBCan: PB10
spi_software_mosi_pin: EBBCan: PB11
spi_software_miso_pin: EBBCan: PB2
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:150,150,20